.navItem{
  text-align: center;
  border: 1px solid #000;
  margin: 16px;
  background-color: #ccc;
  padding: 10px;
  width: auto;
}

.navLink{
  color: solid #000;
  opacity: 1;
}

.pageHeader{
  font-family: Arial;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  padding-top: 10px;
}

.homeLink:link{
  text-decoration: none;
  color: black;
}

.homeLink:visited{
  text-decoration: none;
  color: black;
}

.homeLink:hover{
  text-decoration: none;
  color: black;
}

.homeLink:active{
  text-decoration: none;
  color: black;
}